# Descripción
**Autor:** Natalia Echeverry Salcedo  
**Fecha de inicio:** 7/08/2025  
**Fecha actual:** 11/08/2025  

Este cuaderno contiene una serie de ejercicios prácticos de programación en Python que ponen a prueba conocimientos fundamentales del lenguaje.  
Cada ejercicio está implementado como una función, siguiendo las instrucciones planteadas, e incluye comentarios explicativos sobre la lógica utilizada.

**Contenido**

1. **`lesser_of_two_evens(a, b)`**  
   Retorna el menor de dos números si ambos son pares. En caso contrario, retorna el mayor.  
   - **Ejemplo:** `lesser_of_two_evens(2, 4) -> 2`  
   - **Ejemplo:** `lesser_of_two_evens(2, 5) -> 5`  

2. **`animal_crackers(text)`**  
   Verifica si dos palabras dadas comienzan con la misma letra, sin importar mayúsculas/minúsculas.  
   - **Ejemplo:** `animal_crackers("Level Lens") -> True`  

3. **`makes_twenty(n1, n2)`**  
   Retorna `True` si alguno de los dos números es igual a 20 o si su suma es 20.  
   - **Ejemplo:** `makes_twenty(10, 10) -> True`  

4. **`old_macdonald(name)`**  
   Capitaliza la primera y la cuarta letra de un nombre si su longitud es mayor que 3.  
   - **Ejemplo:** `old_macdonald("macdonald") -> "MacDonald"`  

5. **`master_yoda(text)`**  
   Invierte el orden de las palabras en una frase.  
   - **Ejemplo:** `master_yoda("I am home") -> "home am I"`  

6. **`has_33(nums)`**  
   Verifica si en una lista existe al menos una secuencia de dos números 3 consecutivos.  
   - **Ejemplo:** `has_33([1, 3, 3]) -> True`  

7. **`paper_doll(text)`**  
   Retorna una cadena donde cada carácter del texto original se repite 3 veces.  
   - **Ejemplo:** `paper_doll("Hello") -> "HHHeeellllllooo"`  

8. **`blackjack(a, b, c)`**  
   Simula una suma de cartas tipo blackjack:
   - Si la suma es <= 21, retorna la suma.
   - Si la suma es mayor a 21 pero existe un 11 y restar 10 lo deja en <= 21, retorna la suma ajustada.
   - Si la suma excede 21 en cualquier otro caso, retorna `'BUST'`.  
   - **Ejemplo:** `blackjack(5, 6, 7) -> 18`

**Observaciones**

- El cuaderno incluye **comentarios detallados** en cada función para facilitar su comprensión.
- Los ejemplos proporcionados permiten verificar rápidamente el comportamiento esperado.
- Se hace uso de **estructuras condicionales**, **bucles**, **manipulación de cadenas** y **listas**.

---

## CALENTAMIENTO:

#### MENOR DE DOS PARES: Escriba una función que devuelva el menor de dos números dados *si* ambos números son pares, pero devuelva el mayor si uno o ambos números son impares
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [247]:
# Definimos una función llamada lesser_of_two_evens que recibe dos parámetros: a y b
def lesser_of_two_evens(a, b):
    # Verificamos si ambos números son pares
    if a % 2 == 0 and b % 2 == 0:
        # Si ambos son pares, retornamos el menor de los dos
        return min(a, b)
    else:
        # Si al menos uno es impar, retornamos el mayor de los dos
        return max(a, b)

In [248]:
# Revisión
lesser_of_two_evens(2,4)

2

In [249]:
# Revisión
lesser_of_two_evens(2,5)

5

#### GALLETAS DE ANIMALES: Escribir una función que toma una cadena de dos palabras y devuelve True si ambas palabras comienzan con la misma letra
    animal_crackers('Ciudad Calor') --> True
    animal_crackers('Lugar Frio') --> False

In [250]:
# Definimos una función llamada animal_crackers que recibe un parámetro 'text'
def animal_crackers(text):
    # Dividimos la cadena 'text' en una lista de palabras separadas por espacios
    palabras = text.split()
    # Retornamos True si la primera letra de la primera palabra y la primera letra de la segunda palabra
    # (convertidas a minúsculas) son iguales; de lo contrario, retorna False
    return palabras[0][0].lower() == palabras[1][0].lower()

In [251]:
# Revisión
animal_crackers('Ciudad Calor')

True

In [252]:
# Revisión
animal_crackers('Lugar Frio')

False

#### HACE VEINTE: dados dos enteros, devuelve True si la suma de los enteros es 20 o si uno de los enteros es 20. De lo contrario, devuelve False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [253]:
# Definimos una función llamada makes_twenty que recibe dos parámetros: n1 y n2
def makes_twenty(n1, n2):
    # Retorna True si:
    # - n1 es igual a 20
    # - o n2 es igual a 20
    # - o la suma de n1 y n2 es igual a 20
    # En cualquier otro caso, retorna False
    return n1 == 20 or n2 == 20 or (n1 + n2 == 20)

In [254]:
# Revisión
makes_twenty(20,10)

True

In [255]:
# Revisión
makes_twenty(2,3)

False

In [256]:
makes_twenty(12,8)

True

# Nivel 1

#### MAYÚSCULAS: Escribir una función que haga mayúscula la primera y cuarta letra de una cadena de texto
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [257]:
# Definimos una función llamada old_macdonald que recibe un parámetro: name
def old_macdonald(name):
    # Si la longitud del nombre es mayor que 3 caracteres
    if len(name) > 3:
        # Retorna el nombre con la primera letra y la cuarta letra en mayúscula.
        # name[:3] → toma los primeros 3 caracteres
        # .capitalize() → pone en mayúscula la primera letra de esa parte
        # name[3:] → toma el resto de la cadena desde el cuarto carácter
        # .capitalize() → pone en mayúscula la primera letra de esa parte
        return name[:3].capitalize() + name[3:].capitalize()
    else:
        # Si el nombre tiene 3 caracteres o menos, simplemente capitaliza la primera letra
        return name.capitalize()

In [258]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### REVERSA: Dada una oración, retornar la misma oración pero en reversa

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: Revisar método .join()

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

Resultado de .join():

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [259]:
# Definimos una función llamada master_yoda que recibe un parámetro: text
def master_yoda(text):
    # text.split() → divide el texto en una lista de palabras separadas por espacios
    # [::-1] → invierte el orden de la lista de palabras
    # ' '.join(...) → une las palabras invertidas en una sola cadena, separándolas con un espacio
    return ' '.join(text.split()[::-1])

In [260]:
######

In [261]:
# Revisión
master_yoda('I am home')

'home am I'

In [262]:
# Revisión
master_yoda('We are ready')

'ready are We'

# Nivel 2

#### PROBLEMA 33:

Dada una lista de enteros, retornar True si el arreglo tinene un  3  seguido por un  3 .

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [263]:
# Definimos la función has_33 que recibe una lista de números llamada nums
def has_33(nums):
    # Recorremos la lista usando un índice desde 0 hasta el penúltimo elemento
    # Usamos len(nums) - 1 porque vamos a comparar cada elemento con el siguiente
    for i in range(len(nums) - 1):
        # Verificamos si el elemento actual (nums[i]) es igual a 3
        # y si el siguiente elemento (nums[i + 1]) también es igual a 3
        if nums[i] == 3 and nums[i + 1] == 3:
            # Si encontramos dos 3 seguidos, devolvemos True
            return True
    # Si termina el bucle sin encontrar dos 3 seguidos, devolvemos False
    return False

In [264]:
# Revisión
has_33([1, 3, 3])

True

In [265]:
# Revisión
has_33([1, 3, 1, 3])

False

In [266]:
# Revisión
has_33([3, 1, 3])

False

#### REPLICADOR: Dada una cadena, devuelve una cadena donde por cada carácter en el original hay tres caracteres REPETIDOS
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [267]:
# Definimos la función paper_doll que recibe un texto (string) como parámetro
def paper_doll(text):
    # Usamos una lista por comprensión para recorrer cada carácter (ch) en el texto
    # Por cada carácter, lo repetimos 3 veces con ch * 3
    # Ejemplo: si ch = 'a', se convierte en 'aaa'
    # Luego usamos ''.join(...) para unir todos los caracteres repetidos en una sola cadena
    return ''.join([ch * 3 for ch in text])

In [268]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [269]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Dados tres enteros entre 1 y 11, si su suma es menor o igual a 21, devuelve su suma. Si su suma excede 21 *y* hay un once, reduce la suma total en 10. Finalmente, si la suma (incluso después del ajuste) excede 21, devuelve 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [270]:
# Definimos la función blackjack que recibe tres números (a, b, c)
# Representan cartas y la función sigue reglas similares al juego Blackjack.
def blackjack(a, b, c):
    # Calculamos el total sumando las tres cartas
    total = a + b + c

    # Si el total es menor o igual a 21, no hay problema: devolvemos el total.
    if total <= 21:
        return total

    # Si el total es mayor que 21 pero hay un As (representado con 11),
    # restamos 10 (porque el As puede valer 1 en lugar de 11)
    # y comprobamos si con eso el total baja a 21 o menos.
    elif 11 in (a, b, c) and total - 10 <= 21:
        return total - 10

    # Si ninguna de las condiciones anteriores se cumple, el jugador se pasa (BUST).
    else:
        return 'BUST'

In [271]:
# Revisión
blackjack(5,6,7)

18

In [272]:
# Revisión
blackjack(9,9,9)

'BUST'

In [273]:
# Revisión
blackjack(9,9,11)

19

## Suerte!